
a {
   text-decoration: none;
   color:#3D59AB;
   font-family:verdana;
}
img{
   width:100px;
   display:block;
   height:30px;
   margin:auto;
   
}
body {
   background-color:#c6e2ff;
}

p {
   
   font-family: Garamond;
   font-size: 18px;

  }
h1 {
   text-align:center;
   font-family: Verdana;
   font-size:20px;
   
   
 }
 div{
    border-radius:8px;
    border:3px solid #6495ed;
    background-color:#bcd2ee;
    height: 60px;
    width:250px;
    margin:left;
    text-align:center;
    
 }
span {
   font-weight:bold;
   font-size: 18px;
   color: #fffff;
}
