
a {
   text-decoration: none;
   color:#3D59AB;
   font-family:verdana;
}
img{
   width:100px;
   display:block;
   height:30px;
   margin:auto;
   
}
body {
   background-color:#c6e2ff;
}
a:link{
   text-decoration:none;
   color: #008b45;
}
a: hover{
   color:#00ff00;
   font-weight:bold;
   text-decoration:none;
   
}
a: visited{
   color: #ee9a00;
   
}

p {
   float:left;
   font-family: Garamond;
   font-size: 18px;

  }
h1 {
   text-align:center;
   font-family: Verdana;
   font-size:20px;
   
   
 }
 div{
    display:inline-block;
    border-radius:10px;
    border:10px solid #6495ed;
    background-color:#bcd2ee;
    height: 60px;
    width:250px;
    margin-auto;
    text-align:center;
    padding:10px;
    float:right;
    
 }
 /*
 #header{
    height:50px;
    background-color:#f38630;
    margin-bottom:10px;
 }
 .left{
    height:300px;
    width:150px;
    background-color:#A7DBD8;
    float:left;
    margin-bottom:10px;
 }
 .right{
    height:300px;
    width:450px;
    background-color:#EOE4cc;
    float:right;
    margin-bottom:10px;
 }
 #footer{
    height:50px;
    background-color:#69d237;
    clear:both;
 }
 */
span {
   font-weight:bold;
   font-size: 18px;
   color: #fffff;
}
